<div class="row">
	<div class="small-12 columns">
		<a [routerLink]="['/About']">
			<img id="logo" src="images/cwLogov3.svg" alt="logo">
		</a>
		<ul id="nonMobileNav">
		  <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Home</a></li>
		  <li><a [routerLink]="['/About']" routerLinkActive="router-link-active">About</a></li>
		  <li><a [routerLink]="['/Work']" routerLinkActive="router-link-active">Work</a></li>
		  <li><a [routerLink]="['/Contact']" routerLinkActive="router-link-active">Contact</a></li>
		</ul>
		<div id="mobileNavHamburger" role="button" (click)="toggleMobileNavEvent()">
		  <span></span>
		  <span></span>
		  <span></span>
		</div>
	</div>
</div>