<div id="footer">
<a target="_blank" href="https://github.com/wootencl">
    <i class="fa fa-github" aria-hidden="true"></i>
</a>
<a target="_blank" href="https://www.linkedin.com/in/carterwooten">
    <i class="fa fa-linkedin-square" aria-hidden="true"></i>
</a>
<a target="_blank" href="http://stackoverflow.com/users/6417489/wootencl?tab=profile">
    <i class="fa fa-stack-overflow" aria-hidden="true"></i>
</a>
<a target="_blank" href="https://clwproductions.wordpress.com/">
    <i class="fa fa-wordpress" aria-hidden="true"></i>
</a>
</div>