
:host:before {
  content: "";
}
img {
	width: auto;
  height: 10em;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 0.5em;
}
#skillTitle {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 0.05em;
}
#divider {
  margin: 1em auto;
  background: #313131;
  width: 50px;
  height: 1px;
  opacity: .3;
}
#description {
	text-align: center;
	padding-bottom: 2em;
}