app {
	height: 100%;
}

#offScreenMenu {
	position: absolute;
	top: 4em;
	height: calc(100% - 4em);
	width: 100%;
	div {
		border-bottom-style: solid;
		border-top-style: solid;
    text-align: center;
    font-size: 2.5em;
    color: #000;
    border-width: 1px;
    padding: 0.25em 0em;
    a {
    	text-decoration: none;
    	color: #000;
    	height: 100%;
	    width: 100%;
	    display: block;
    }
	}
}

:host-context(.home) #offScreenMenu {
	-webkit-filter: invert(100%);
  filter: invert(100%);
}