<div id="content">
	<!-- ### TEMPORARY ### -->
	<div id="construction">
		<div id="wrapper">
			<div id="title">
				Under Construction
			</div>
			<div>
				Waiting for the release of Angular 2 <a target="_blank" href="https://github.com/angular/angular/milestone/64">RC5</a>
			</div>
		</div>
	</div>
	<!-- ### TEMPORARY ### -->
	<div class="row">
		<div class="small-12 columns">
			<div id="intro">
				<div id="super">
					Contact Me
				</div>
				<div id="sub">
					If you're interested in my work and wish to inquire further please use the below form and I'll get back to you as soon as possible.
				</div>
			</div>
		</div>
	</div>
	<div id="contact_form" class="row">
		<form #f="ngForm" [formGroup]="form" (ngSubmit)="onFormSubmit($event)">
			<div class="small-12 medium-6 large-6 columns">
				<label for="name">Name*</label>
				<input type="text" [formControl]="name">
			</div>
			<div class="small-12 medium-6 large-6 columns">
				<label for="email">Email*</label>
				<input [formControl]="email">
			</div>
			<div class="small-12 columns">
				<label for="message">Message*</label>
				<textarea id="message" [formControl]="message"></textarea>
			</div>
			<div class="small-12 columns">
				<button type="submit" [disabled]="!form.valid">Submit</button>
			</div>
		</form>
	</div>
</div>
<footer></footer>