.row {
	max-width: 35em;
}
#content {
	display: block;
	padding-top: 6rem;
	padding-bottom: 8em;
	height: auto;
	min-height: 100%;
	#intro {
		height: auto;
		font-family: 'Arvo', serif;
		#super {
	    text-align: center;
	    font-size: 2em;
	    line-height: 1.5em;
		}
		#sub {
	    margin-top: 0.5em;
	    font-family: 'Arvo', serif;
	    text-align: center;
	    line-height: 1.5em;
	    padding: 0em 2em;
		}
	}
	#contact_form {
		margin-top: 2em;
		.columns {
			padding-top: 2em;
		}
		label {
			display: block;
		}
		input, textarea {
			width: 100%;
	    -webkit-box-shadow: inset 0 1px 4px #AAA;
	    -moz-box-shadow: inset 0 1px 4px #AAA;
	    box-shadow: inset 0 1px 4px #AAA;
	    border: 1px solid #d6d6d6;
	    padding-left: 7px;
	    border-radius: 5px;
	    font-size: 16px;
		}
		textarea {
			resize: vertical;
			min-height: 10em;
		}
		button {
			width: 100%;
	    text-align: center;
	    background-color: #313131;
	    color: #FFF;
	    padding: 0.5em;
	    &:hover {
	    	background-color: #404040;
	    }

	    -webkit-transition: background-color 0.25s linear;
			-moz-transition: background-color 0.25s linear;
			-o-transition: background-color 0.25s linear;
			-ms-transition: background-color 0.25s linear;
			transition: background-color 0.25s linear;
		}
	}
}