:host {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #FFF;
	.row {
		max-width: 35em;
	}
	#content {
		position: relative;
		display: block;
		padding-top: 6rem;
		padding-bottom: 8em;
		height: auto;
		min-height: 100%;
		#intro {
			height: auto;
			font-family: 'Arvo', serif;
			#super {
		    text-align: center;
		    font-size: 2em;
		    line-height: 1.5em;
			}
			#sub {
		    margin-top: 0.5em;
		    font-family: 'Arvo', serif;
		    text-align: center;
		    line-height: 1.5em;
		    padding: 0em 2em;
			}
		}
		#contact_form {
			margin-top: 2em;
			position: relative;
			.columns {
				padding-top: 2em;
			}
			label {
				display: block;
			}
			input, textarea {
				width: 100%;
		    -webkit-box-shadow: inset 0 1px 4px #AAA;
		    -moz-box-shadow: inset 0 1px 4px #AAA;
		    box-shadow: inset 0 1px 4px #AAA;
		    border: 1px solid #d6d6d6;
		    padding-left: 7px;
		    border-radius: 5px;
		    font-size: 16px;

		    -webkit-transition: all 0.30s ease-in-out;
			  -moz-transition: all 0.30s ease-in-out;
			  -ms-transition: all 0.30s ease-in-out;
			  -o-transition: all 0.30s ease-in-out;
			  outline: none;
			}
			textarea {
				resize: vertical;
				min-height: 10em;
			}
			button {
				width: 100%;
		    text-align: center;
		    background-color: #313131;
		    color: #FFF;
		    &:hover {
		    	background-color: #404040;
		    }

		    -webkit-transition: background-color 0.25s linear;
				-moz-transition: background-color 0.25s linear;
				-o-transition: background-color 0.25s linear;
				-ms-transition: background-color 0.25s linear;
				transition: background-color 0.25s linear;
			}
			.formTouched.ng-invalid {
				box-shadow: 0 0 5px rgb(255, 138, 138);
    		border: 1px solid rgba(255, 138, 138, 1);
			}
			.formTouched.ng-valid {
				box-shadow: 0 0 5px rgb(149, 239, 115);
    		border: 1px solid rgba(149, 239, 115, 1);
			}
			.hidden {
				opacity: 0;
				z-index: -5;
			}
			.notHidden {
				opacity: 1;
		    z-index: 5;
			}
			#serverResponseMessageOuter {
				height: 100%;
		    width: 100%;
		    position: absolute;
		    background-color: #FFF;
		    padding: 5em;

				transition: all .3s ease-in-out;
				-moz-transition: all .3s ease-in-out;
				-webkit-transition: all .3s ease-in-out;
				#serverResponseMessageInner {
					border: 1px solid black;
					border-radius: 5px;
					height: 100%;
					width: 100%;
					padding: 3em 1em;
					text-align: center;
					#serverText {
						margin-bottom: 2em;
					}
				}
			}
		}
	}
}