html, body, app {
	height: 100%;
	display: block;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

/* MOBILE */
@media (min-width:320px) {
	html, body, app {
		font-size: 0.9em;
	}
	:not(.home) > navbar {
		position: fixed !important;
		background-color: #FFF;
	}
}

/* TABLETS */
@media (min-width:641px) {
	html, body, app {
		font-size: 1em;
	}
}

/* LARGE SCREENS */
@media (min-width:1025px) {
	/* FIXME: Temporary fix for the grid framework on large devices.*/
	/* Believe it has something to with my use of margins in the 'skills' */
	.large-6 {
		width: 49.5%;
	}
}