body {
  /*background-color: #000 !important;*/
}

html, body, app {
	height: 100%;
	display: block;
	font-size: 1rem;
	font-family: 'Open Sans', sans-serif;
}

.home > navbar {
  background-color: rgba(0, 0, 0, 0.0);
}

.notHome > navbar {
	background-color: #FFF;

	transition: 500ms background-color linear;
	-webkit-transition: 500ms background-color linear;
	-moz-transition: 500ms background-color linear;
	-ms-transition: 500ms background-color linear;
	-o-transition: 500ms background-color linear;
}

.loadingImg {
  text-align: center;
  margin-top: 24em;
}

.loadingImg img {
  height: 50px;
}

/* ### MEDIA QUERIES ### */
/* MOBILE */
@media (min-width:320px) {
	html, body, app {
		font-size: 0.9em;
	}
	/* CONTACT */
	#contactButton, #serverMessageButton {
		padding: 1em 0em;
	}
}

/* TABLETS */
@media (min-width:641px) {
	html, body, app {
		font-size: 1em;
	}
	/* WORK */
	#siteInfoWrapper {
    opacity:1;
  }
  /* CONTACT */
  #contactButton, #serverMessageButton {
  	padding: 0.5em 0em;
  }
}

/* LARGE SCREENS */
@media (min-width:950px) {
	/* WORK */
	#site #siteInfoWrapper {
	  opacity: 0;

	  -webkit-transition: opacity .5s ease;
    -moz-transition: opacity .5s ease;
    transition: opacity .5s ease;
	}
	#site:hover #siteInfoWrapper {
	  opacity: 1;
	}
}