<div id="content">
	<div class="row">
		<div class="small-12 columns">
			<div id="intro">
				<div id="super">
					Hi, I'm Carter Wooten, a<br> freelance software developer located<br> in Charleston, SC
				</div>
				<div id="sub">
					I currently do contract software development work for companies in the Charleston area. Through my belief in the <a target="_blank" id="kiss" href="https://en.wikipedia.org/wiki/KISS_principle">KISS</a> principles of design and development I bring end-to-end solutions to my clients.
				</div>
			</div>
		</div>
	</div>
	<div id="skills">Skills</div>
	<div class=row>
		<div *ngFor="let skill of skills"><skill [skillName]="skill.skillName" [iconUrl]="skill.iconUrl" [delay]="skill.delay" [description]="skill.description"></skill></div>
	</div>
</div>
<footer></footer>